html {
    height: 100%; 
    margin: 0; 
}


body {
 overflow-x: hidden;
 overflow-y: scroll;   
 margin: 0; 
 height: 100%;
 overflow-anchor: none;
}



.header { 
    display: flex; 
    background-color: #09244d9d;
    padding: 8px; 
    margin: 0;
    padding: 0;

}

.header img{ 
    height: 100px; 
    width: 100px; 
    position: relative; 
    left: 180px; 
    
    
}

.header ul {
    font-size: 18px; 
    color: #E5E7EB;
    display: flex;
    gap: 16px; 
    list-style: none;
    align-self: center;
    margin-top: 16px;
    position: relative;
    left: 1200px;
     
}

.header a {
    color: #E5E7EB;
    text-decoration: none;
}
    

/*top header section ends here*/

.container-1 {
    display: flex;
    background-color: #09244d9d;
    height: 300px; 
    padding: 24px;
     
  
}


.container-1 .inner-container {
    display: flex;
    flex-wrap: wrap;
    position: relative; 
    left: 150px; 
    max-width: 500px;
      
}

.container-1 .Main-text { 
    display: flex;
    font-size: 48px; 
    font-weight: bold; 
    color: #F9FAF8; 
    width: 480px;
    height: 170px; 
          
}

.container-1 .subtext { 
    font-size: 18px;
    color: #E5E7EB; 
    width: 400px;
    position: relative;
    left: 6px;
        
}


.container-1 .top-click {
    background-color: #3882F6;
    border-radius: 5px;
    border: #3882F6 solid ;
    align-self: flex-end;
    font-weight: bold;
    width: 100px; 
    position: relative;  
    right: 390px;
}
.container-1 a{
    text-decoration: none;
    color:#F9FAF8;

    }
    

.container-1 .top-section-img { 
    height: 300px;
    width: 600px;
    position: relative;
    left: 510px; 
    border-radius: 8px; 
    
}

/*First body container ends here*/

.information-header { 
    font-size: 36px; 
    font-weight: bold;
    color: #1F2937; 
    display: flex;
    justify-content: center;
    padding: 16px;
    margin-top: 8px;
    
}

.container-2 { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px; 
    padding: 16px;
    margin-top: 24px;
}


.information-container img { 
    height: 250px; 
    width: 250px; 
    border: #3882F6 solid 3px; 
    border-radius: 7px;

}

.information {
    max-width: 300px;
    text-align: center;
}



/* Second body container ends here */


.container-3 { 
    background-color: #E5E7EB; 
    height: 300px; 
    display: flex;
    flex-wrap: wrap;
    padding: 56px;
}

.container-3 .quote { 
    align-content: center; 
    font-size: 36px;
    color:#1F2937; 
    padding: 60px; 
    height: 50px; 
    
}

.container-3 .quotor {
    font-size: 20px;
    position: relative;
    left: 900px;
    
}

/* container-3 ends here */

.container-4 { 
    display: flex;
    flex-wrap: wrap; 
    background-color: #3882F6; 
    padding: 24px; 
    position: relative;
    left: 470px;
    margin: 50px;
    width: 800px;  
    border-radius: 7px;
   

}

.container-4 .inner-container-4 {
    position: relative; 
    left: 40px;
}

.inner-container-4 .Join { 
    font-size: 16px; 
    font-weight: bold;
    color: #E5E7EB;  
}

.inner-container-4 .Join-subtext {
    font-size: 12px; 
    color:#E5E7EB;
}

.container-4 .bottom-click{
    align-self: center;
    background-color: #3882F6; 
    font-weight: bold;
    border: #E5E7EB 2px solid;
    border-radius: 5px;
    position: relative; 
    left: 250px;
    width: 100px;
    padding: 3px;
  
}

.container-4 a{
    text-decoration: none;
    color: #E5E7EB;
}

/* container-4 ends, footer begins */

.footer { 
    background-color: #1F2937; 
    color: #E5E7EB; 
    font-size: 16px;
    font-weight: 500;  
    height: 60px; 
    display: flex;
    justify-content: center;
    align-items: center;
}